.risk-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 0px;
    height: 100vh;          
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}


.risk-table td {
  font-size: 13px;
} 

.risk-filters{
    display: flex;
    flex-direction: row;
    gap:40px;
    padding-bottom: 14px;
}

.risk-components{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
    height: 100%;
}

.risk-table{
    grid-area: 1 / 1 / 2 / 5;
    background-color: var(--bg-components);
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    
}

.risk-user-info{
    grid-area: 1 / 5 / 2 / 6;
    background-color: var(--bg-components);
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

/* Отключаем ring и border у InputGroup при фокусе на инпуте */
[data-slot="input-group"]:has([data-slot="input-group-control"]:focus-visible) {
  outline: none !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-color: #e2e8f0 !important; /* или цвет вашей обычной границы */
}

/* Дополнительно, если инпут сам даёт outline */
[data-slot="input-group-control"]:focus-visible {
  outline: none !important;
  
}



.risk-components {
  flex: 1;
  min-height: 0;         
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  
}


.risk-table {
  grid-column: span 4;
  overflow: auto;
  background-color: var(--bg-components);
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  
}


.risk-table > div {
  flex: 1;
  overflow: auto;
  padding: 2px 10px;
  
}

.risk-table td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.selected-row {
  outline-offset: 0px;
  background-color: rgba(43, 88, 92, 0.05);
}

.risk-detail-panel{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 20px;
}

.detail-header{
  padding: 20px 0px;
  font-size: 17px;
  text-align: center;
  color: rgba(var(--greendark), 1)
}

.detail-section{
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  border: none !important;
  gap:6px;
}

.section-title-risk{
  font-size: 16px;
  opacity: 0.9;
}

.act{
  font-size: 14px;
  opacity: 0.7;
}

.meeting-list{
  display: flex;
  flex-direction: column;
  gap:5px;
}

