.panel-sidebar_nav{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:8px;
}

.panel-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position:relative;
    width: 14%;
    background-color: var(--bg-panel);
    border-right: solid 1px var(--border);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    
}

.panel-sidebar-t{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 10px;
}

.panel-sidebar_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--border);
}

.panel-nav{
    text-decoration:none;
    width: 90%;
    border-right: solid 10px var(--bg-panel);
    border-radius: 5px;
    outline: none;
    
    
}

.panel-nav:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    /*outline: solid 1px var(--border);*/
    transition: 0.3s;
}

.panel-nav.active{
    border-right: solid 10px rgba(var(--green), 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.panel-nav-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    color: var(--text);
    font-size: 14px;

    padding-left: 20px;
    gap: 10px;

    width: 280px;
    height: 40px;
    
    background: none;
    border:none;
}

.sidebar-tags{
    display: flex;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 90%;
    opacity: 0.7;
    color: var(--text);
}

.sidebar-line{
    width: 90%;
    opacity: 0.9;
    padding-top: 10px;
    border-bottom: 1px solid var(--border);
}