:root{
 
  --bg-color: rgba(244, 244, 244, 1);
  --bg-panel: rgba(249,249,249, 1);

  --border: rgba(202, 202, 202, 0.7);
  --border-o: rgba(202, 202, 202, 0.3);

  --green: rgba(107, 255, 149, 1);

  --text: rgba(68, 87, 89, 1)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}