.panel-layout{
    display: flex;
    flex-direction: row;
    width: 100vw; 
    height: 100vh; 
    gap:0px;
    
    background-color: var(--bg-color);
}

.accuracy-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    vertical-align:middle;

    padding: 0px 0px;
    gap:10px;

    width: 100%;
    height: 40px;

    color: rgba(var(--greendark), 1);
    background-color: rgba( var(--green), 0.2);
    border: solid 1px rgba(var(--green), 1);
    border-radius: 8px;
    transition: 0.2s;
}

.accuracy-button:hover{
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(var(--green), 0.35), 0 0 20px rgba(var(--green), 0.1);
    border: solid 1px rgba(var(--greendark), 0.3);
    
}